*{
    box-sizing: border-box;
}

.front_page {
    min-height: 100vh;
    background-image: url("../assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}


/*----------------------------------------------------------------------------------------
--------------------------------------- Menubutton and nav opening -----------------------
------------------------------------------------------------------------------------------*/

.menu_button{
    height: 40px;
    width: 45px;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    pointer-events: none;
}

.menu_button span{
    background-color: black;
    width: 35px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}

.menu_button span:nth-child(2){
    position: relative;
    right: 5px;
}

input {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 45px;
    height: 40px;
    opacity: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(106, 43, 43, 0.5);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    z-index: 2;
}

input:checked + .menu nav{
    visibility: visible;
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- To the moon box ----------------------------------
------------------------------------------------------------------------------------------*/

.container_tothemoon {
    height: 38vw;
    width: 40vw;
    min-width: 121px;
    min-height: 128px;
    max-width: 400px;
    max-height: 380px;
    border: black solid 3px;
    position: relative;
    top: 12%;
    left: 12%;
    background-color: rgba(255, 255, 255, 0.671);
    z-index: 1;
}

.container_tothemoon div h2{
    text-transform: uppercase;
}

.container_tothemoon div h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
}

.to_the_moon_size{
    width: 40vw;
    height: 33vw;
    min-width: 121px;
    min-height: 80px;
    max-width: 400px;
    max-height: 350px;
}

.to_the_moon {
    display: block;
}

.to_the_moon p{
    margin-top: 0%;
    margin-bottom: 5px;
}

.read_our_story_size{
    width: 40vw;
    height: 7vw;
    min-width: 121px;
    min-height: 18.39px;
    max-width: 400px;
    max-height: 18.39px;
    position: relative;
}

.read_our_story {
    display: flex;
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    height: 20px;
    width: 100px;
}

.read_our_story p{
    margin: 0;
}

.read_our_story p:nth-child(2){
    position: relative;
    left: 7px;
}

.read_our_story:hover p:nth-child(2) {
    left: 15px;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Big arrow firstpage ----------------------------------
------------------------------------------------------------------------------------------*/

.fa-sharp.fa-solid.fa-arrow-down {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 40pt;
    position: absolute;
    bottom: 12px;;
    left: 50%;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Main ----------------------------------
------------------------------------------------------------------------------------------*/

main {
    min-height: 100vh;
    background-image: url(../assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

main article, main section {
    width: 50%;
}



@media only screen and (min-width: 414px) {
    .container_tothemoon {
        left: 7%;
        top: 15%;
}  

.to_the_moon_size {
    height: 33.5vw;
}
.read_our_story_size{
    height: 4.5vw;
}

 .read_our_story{
    position: absolute;
    right: 5px;
 }
} 

@media only screen and (min-width: 1024px){
    main {
        display: flex;
        gap: 100px;
    }
}