*{
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.front_page {
    min-height: 100vh;
    background-image: url("../assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Rubik', sans-serif;
}


/*----------------------------------------------------------------------------------------
--------------------------------------- Menubutton and nav opening -----------------------
------------------------------------------------------------------------------------------*/

.menu_button{
    height: 40px;
    width: 45px;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    pointer-events: none;
}

.menu_button span{
    background-color: black;
    width: 35px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}

.menu_button span:nth-child(2){
    position: relative;
    right: 5px;
}

input {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 45px;
    height: 40px;
    opacity: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(106, 43, 43, 0.5);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    z-index: 2;
}

input:checked + .menu nav{
    visibility: visible;
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- To the moon box ----------------------------------
------------------------------------------------------------------------------------------*/

.container_tothemoon {
    height: 38vw;
    width: 40vw;
    min-width: 121px;
    min-height: 128px;
    max-width: 400px;
    max-height: 380px;
    border: black solid 3px;
    position: absolute;
    top: 12%;
    left: 12%;
    background-color: rgba(255, 255, 255, 0.671);
    z-index: 1;
}

.container_tothemoon div h2{
    text-transform: uppercase;
}

.container_tothemoon div h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
}

.to_the_moon_size{
    width: 40vw;
    height: 33vw;
    min-width: 121px;
    min-height: 80px;
    max-width: 400px;
    max-height: 350px;
}

.to_the_moon {
    display: block;
}

.to_the_moon p{
    margin-top: 0%;
    margin-bottom: 5px;
}

.read_our_story_size{
    width: 40vw;
    height: 7vw;
    min-width: 121px;
    min-height: 18.39px;
    max-width: 400px;
    max-height: 18.39px;
    position: relative;
}

.read_our_story {
    display: flex;
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    height: 20px;
    width: 100px;
}

.read_our_story p{
    margin: 0;
}

.read_our_story p:nth-child(2){
    position: relative;
    left: 7px;
}

.read_our_story:hover p:nth-child(2) {
    left: 15px;
}


/*----------------------------------------------------------------------------------------
--------------------------------------- Big arrow firstpage ----------------------------------
------------------------------------------------------------------------------------------*/

.fa-sharp.fa-solid.fa-arrow-down {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 40pt;
    position: absolute;
    bottom: 12px;;
    left: 50%;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Main ----------------------------------
------------------------------------------------------------------------------------------*/

main {
    min-height: 100vh;
    background-image: url(../assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.textbox{
    width: 300px;
    min-height: 100vh;
   margin-left: auto;
   margin-right: auto;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Space Ventures text ----------------------------------
------------------------------------------------------------------------------------------*/

.space_ventures{
    font-size: 1.4rem;
    text-align: center;
    margin-right: 60px;
}

.space_ventures h1{
    margin-bottom: 0;    
    margin-top: 0;
    height: 90px;
}

.space_ventures h1 span:first-child {
    display: block;  
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 7px #000000;
    font-family: 'Rubik', sans-serif;
}

.space_ventures h1 span:nth-of-type(2) {
    position: relative;
    top: -32px;
    left: 40px;
    z-index: 0;
    color: rgba(255, 255, 255, 0.684);
    font-family: 'Times New Roman', Times, serif;
}



/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/
.font_rubik h2{
    color: white;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 5px;
    
}

.font_rubik p{
    color: white;
    font-size: 0.6rem;
    margin-top: 5px;
    line-height: 1.6;
}

.font_rubik p span::after{
    content: ' ';
    display: block;
    margin-top: 5px;
}
/*----------------------------------------------------------------------------------------
-------------------------------------- Blockquote ----------------------------------
------------------------------------------------------------------------------------------*/

blockquote {
    position: relative;
    display: block;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: white;
}

blockquote span::before{
    content: ' ';
    display: block;
}

blockquote::before{
    content: '"';
    display: block;
    position: absolute;
    top: -5px; /*jobba med positioneringen så de hamnar rätt*/
    left: -5px;
    font-size: 0.9rem;
}

blockquote::after{
    content: '"';
    display: block;
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 0.9rem;
}
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom ----------------------------------
------------------------------------------------------------------------------------------*/
.quote_and_tom q{
    background: #D2C3CC;
    background: radial-gradient(circle farthest-corner at center center, #D2C3CC 35%, #D200A2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin-right: 20%;
    margin-left: 0;
    font-family: 'Rubik', sans-serif;
}

.quote_and_tom p{
    color: white;
    font-size: 0.6rem;
    line-height: 1.6;
}
.quote_and_tom p span::before{
        content: ' ';
        display: block;
        margin-top: 5px;
}

a{
    color:rgb(202, 37, 125);
    height: 5vh;
    display: block;
}
/*----------------------------------------------------------------------------------------
--------------------------------------- Font-family rubik ----------------------------------
------------------------------------------------------------------------------------------*/

.font_rubik{
    font-family: 'Rubik', sans-serif;
}

.font_rubik_italic{
    font-family: 'Rubik', sans-serif;
    font-style: italic;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Quote dont give up ----------------------------------
------------------------------------------------------------------------------------------*/

.quote_dont_give_up {
    display: none;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Major tom picture ----------------------------------
------------------------------------------------------------------------------------------*/

.major_tom_img {
    display: none;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Read more about major tom ------------------------
------------------------------------------------------------------------------------------*/

.quote_and_tom a{
    font-size: 0.6rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Cookies --------------------------------------
------------------------------------------------------------------------------------------*/


.cookies{
    height: 60px;
    background-color: rgb(12, 18, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.cookies p{
    margin-left: 30px;
    color: #D200A2;
    text-shadow:0 0 3px #D200A2 ;
    font-size: 0.7rem;
}

.cookies button{
    margin-right: 30px;
    background-color:rgb(25, 25, 147); 
    border: none;
    color: white;
    padding: 7.5px 16px;
    padding-top: 10px;
    font-size: 0.7rem;
    margin-right:15px;
    cursor: pointer;
    text-transform: uppercase;

}

/*----------------------------------------------------------------------------------------
--------------------------------------- @mediaquery --------------------------------------
------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 460px) {
   
/*----------------------------------------------------------------------------------------
--------------------------------------- To the moon box ----------------------------------
------------------------------------------------------------------------------------------*/

.container_tothemoon {
    left: 7%;
    top: 15%;
}  

.to_the_moon_size {
    height: 33.5vw;
}
.read_our_story_size{
    height: 4.5vw;
}

 .read_our_story{
    position: absolute;
    right: 5px;
 }
/*----------------------------------------------------------------------------------------
--------------------------------------- Main  --------------------------------------------
------------------------------------------------------------------------------------------*/
 .space_ventures{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

.space_ventures h1{
    height: 120px;
}

.textbox{
    width: 450px;
}
/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/

.font_rubik h2{
    color: white;
    font-size: 1.3rem;
}

.font_rubik p{
    font-size: 0.75rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- blockquote ---------------------------------------
------------------------------------------------------------------------------------------*/
blockquote{
    font-size: 1rem;
    margin-left: 60px;
}

blockquote::after{
    top: 35px;
    left: 64px;
}
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom ------------------------------------
------------------------------------------------------------------------------------------*/

.quote_and_tom p{
    font-size: 0.75rem;
}

.quote_and_tom q{
    font-size: 1.7rem;
}

.quote_and_tom a{
    font-size: 0.75rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Cookies ------------------------------------
------------------------------------------------------------------------------------------*/
.cookies p{
    font-size: 0.7rem;
}

.cookies button{
    padding: 7px 11px;
    font-size: 0.8rem;
}


@media only screen and (min-width: 900px){

/*----------------------------------------------------------------------------------------
--------------------------------------- Main  --------------------------------------------
------------------------------------------------------------------------------------------*/
    main div {
        display: flex;
        gap: 100px;
    }

    main div article {
        margin-left: 5vw;

    }

    .textbox{
       width: 100vw;
    }

    .major_tom_img {
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate(3deg);}

/*----------------------------------------------------------------------------------------
--------------------------------------- Space venture text ----------------------
------------------------------------------------------------------------------------------*/


.space_ventures h1{
    height: 220px;
    font-size: 5rem;
}

   
/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/
main div article article{
    margin-left: 0;
}

.font_rubik h2{
    margin-bottom: 15px;
    font-size: 1.7rem;
}
.font_rubik p{
    font-size: 0.9rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Blockquote ---------------------------------------
------------------------------------------------------------------------------------------*/
    blockquote{
        font-size: 1.4rem;
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 0;
    }
    blockquote::before{
        font-size: 1.4rem;
    }
    blockquote::after{
        top: 47px;
        left: 87px;
        font-size: 1.4rem;
    }
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote dont give up --------------------------------
------------------------------------------------------------------------------------------*/
 .quote_dont_give_up{
        display: block;
        margin-top: 70px;
        margin-bottom: 30px;
        margin-right: 60px;
       
    }
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom --------------------------------
------------------------------------------------------------------------------------------*/
    .quote_and_tom p{
        font-size: 0.9rem;
        margin-right: 5vw;
    }

    .quote_and_tom a{
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 1100px){

    main div {
        gap: 15vw;
    }

/*----------------------------------------------------------------------------------------
--------------------------------------- Space ventures text--------------------------------
------------------------------------------------------------------------------------------*/
    .space_ventures{
        font-size: 2.8rem;
    }

/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/

    .font_rubik h2{
        font-size: 1.9rem;
    }
    .font_rubik p{
        font-size: 1.1rem;
    }
/*----------------------------------------------------------------------------------------
--------------------------------------- Blockquote ----------------------
------------------------------------------------------------------------------------------*/

    
 blockquote{
    margin-top: 30px;
    font-size: 1.8rem;
 }

/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom----------------------
------------------------------------------------------------------------------------------*/
.quote_and_tom q{
    margin-top: 100px;
    font-size: 2.4rem;
    margin-left: 0;
}
.quote_and_tom p{
    margin-left: 0;
    font-size: 1.1rem;
}

.quote_and_tom a{
    font-size: 1.1rem;
    margin-left: 0;
}
/*----------------------------------------------------------------------------------------
--------------------------------------- Cookies ------------------------------------
------------------------------------------------------------------------------------------*/
.cookies p{
    font-size: 1.1rem;
}

.cookies button{
    padding: 8px 18px;
    font-size: 1.1rem;
}
}