/*----------------------------------------------------------------------------------------
--------------------------------------- To the moon box ----------------------------------
------------------------------------------------------------------------------------------*/

.container_tothemoon {
    left: 7%;
    top: 15%;
}  

.to_the_moon_size {
    height: 33.5vw;
}
.read_our_story_size{
    height: 4.5vw;
}

 .read_our_story{
    position: absolute;
    right: 20px;
 }
/*----------------------------------------------------------------------------------------
--------------------------------------- Main  --------------------------------------------
------------------------------------------------------------------------------------------*/
 .textbox{
    width: 450px;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/

.font_rubik h2{
    color: white;
    font-size: 1.3rem;
}

.font_rubik p{
    font-size: 0.75rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- blockquote ---------------------------------------
------------------------------------------------------------------------------------------*/
blockquote{
    font-size: 1rem;
    margin-left: 60px;
}

blockquote::after {
    right: 300px;
  }

/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom ------------------------------------
------------------------------------------------------------------------------------------*/

.quote_and_tom p{
    font-size: 0.75rem;
}

.quote_and_tom q{
    font-size: 1.7rem;
}

.quote_and_tom a{
    font-size: 0.75rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Cookies ------------------------------------
------------------------------------------------------------------------------------------*/
.cookies p{
    font-size: 0.7rem;
}

.cookies button{
    padding: 7px 11px;
    font-size: 0.8rem;
}

