//Skärmar mellan 900-1100px

/*----------------------------------------------------------------------------------------
--------------------------------------- To the moon box -----------------------------------
------------------------------------------------------------------------------------------*/
.to_the_moon_size{
    height:28vw;
    max-height: 300px;
}
.container_tothemoon div h2{
    font-size: 5rem;
    margin-top: 50px;
    margin-bottom: 0;
}
.container_tothemoon div h2 span:nth-child(1){
    width: 50%;
    position: relative;
    left: 4%;
}
.container_tothemoon div h2 span:nth-child(2){
    width: 50%;
    position: relative;
    right: 6%;
}
.container_tothemoon div h2 span:nth-child(3){
    width: 100%;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Main  --------------------------------------------
------------------------------------------------------------------------------------------*/
    main div {
        display: flex;
        gap: 100px;
    }

    main div article {
        margin-left: 5vw;

    }

    .textbox{
       width: 100vw;
    }

    .major_tom_img {
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate(3deg);}

/*----------------------------------------------------------------------------------------
--------------------------------------- Space venture text ----------------------
------------------------------------------------------------------------------------------*/


.space_ventures h1{
    height: 220px;
    font-size: 5rem;
}

   
/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/
main div article article{
    margin-left: 0;
}

.font_rubik h2{
    margin-bottom: 15px;
    font-size: 1.7rem;
}
.font_rubik p{
    font-size: 0.9rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Blockquote ---------------------------------------
------------------------------------------------------------------------------------------*/
    blockquote{
        font-size: 1.4rem;
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 0;
    }
    blockquote::before{
        font-size: 1.4rem;
    }
    blockquote::after{
        top: 47px;
        left: 87px;
        font-size: 1.4rem;
    }
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote dont give up --------------------------------
------------------------------------------------------------------------------------------*/
 .quote_dont_give_up{
        display: block;
        margin-top: 70px;
        margin-bottom: 30px;
        margin-right: 60px;
       
    }
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom --------------------------------
------------------------------------------------------------------------------------------*/
    .quote_and_tom p{
        font-size: 0.9rem;
        margin-right: 5vw;
    }

    .quote_and_tom a{
        font-size: 0.9rem;
    }