*{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.front_page {
    min-height: 100vh;
    background-image: url("/Users/sofiaolsson/github-classroom/Medieinstitutet/inl-2-kundprojekt-Sofilus/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Menubutton and nav opening -----------------------
------------------------------------------------------------------------------------------*/

.menu_button{
    height: 40px;
    width: 45px;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    pointer-events: none;
}

.menu_button span{
    background-color: black;
    width: 35px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}

.menu_button span:nth-child(2){
    position: relative;
    right: 6px;
    transition: right 0.3s ease-in-out;
}

input {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 45px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

input:hover + .menu .menu_button span:nth-child(2) {
    right: 0px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.929);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    z-index: 2;
}

input:checked + .menu nav{
    visibility: visible;
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.516);
    text-transform: uppercase;
}

li {
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- To the moon box ----------------------------------
------------------------------------------------------------------------------------------*/

.container_tothemoon {
    height: 38vw;
    width: 40vw;
    min-width: 121px;
    min-height: 128px;
    max-width: 400px;
    max-height: 380px;
    border: black solid 3px;
    position: absolute;
    top: 12%;
    left: 12%;
    background-color: rgba(255, 255, 255, 0.671);
    z-index: 1;
}

.container_tothemoon div h2{
    text-transform: uppercase;
    font-size: 8vw; 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 0;
    font-weight: 700;
}

.container_tothemoon div h2 span:nth-child(1){
    width: 40vw;
}

.container_tothemoon div h2 span:nth-child(2){
    width: 40vw;
}

.container_tothemoon div h2 span:nth-child(3){
    width: 40vw;
}

.to_the_moon_size{
    width: 40vw;
    height: 31vw;
    min-width: 121px;
    min-height: 80px;
    max-width: 400px;
    max-height: 300px;
}

.read_our_story {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 5px;
}

.read_our_story i{
    margin-left: 5px;
    position: relative;
    top: 2px;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.read_our_story:hover i {
    left: 15px;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Big arrow firstpage ----------------------------------
------------------------------------------------------------------------------------------*/

.fa-sharp.fa-solid.fa-arrow-down {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 40pt;
    position: absolute;
    bottom: 12px;;
    left: 50%;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Main ----------------------------------
------------------------------------------------------------------------------------------*/

main {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/Users/sofiaolsson/github-classroom/Medieinstitutet/inl-2-kundprojekt-Sofilus/assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.textbox{
    width: 300px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Space Ventures text ----------------------------------
------------------------------------------------------------------------------------------*/

.space_ventures{
    height: 23vh;
}

.space_ventures h1{   
    position: relative;
    margin-top: 0;
    top: 5vh;
}

.space_ventures h1 span:first-child {
    display: block;  
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 7px #000000;
    font-weight: 600;
    font-size: 3.2rem;
}

.space_ventures h1 span:nth-of-type(2) {
    position: relative;
    top: -40px;
    left: 50px;
    z-index: 0;
    color: rgba(255, 255, 255, 0.503);
    font-weight: bold;
    font-size: 3.8rem;
    font-family: 'Times New Roman', Times, serif;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/

.major_tom h2{
    color: white;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.major_tom p{
    color: white;
    font-size: 0.6rem;
    margin-top: 5px;
    line-height: 1.6;
}

.major_tom p span::after{
    content: ' ';
    display: block;
    margin-top: 5px;
}

/*----------------------------------------------------------------------------------------
-------------------------------------- Blockquote ----------------------------------
------------------------------------------------------------------------------------------*/  

blockquote span::before{
    content: ' ';
    display: block;
}

blockquote {
    position: relative;
    font-style: italic;
    color: white;
    font-size: 0.8rem;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  blockquote::before, blockquote::after {
    display: block;
    position: absolute;
    font-size: 3rem;
    font-family: Georgia, 'Times   New Roman', Times, serif;
    opacity: 0.7;
  }

  blockquote::before {
    content: open-quote;
    top: -15px;
    left: -15px;
    color: grey;
  }

  blockquote::after {
    content: close-quote;
    bottom: -40px;
    right: 180px;
    color: grey;
  }
/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom ----------------------------------
------------------------------------------------------------------------------------------*/

.quote_and_tom q{
    background: #FFFFFF;
    background: radial-gradient(circle farthest-corner at center center, #ffffff3c 0%, #d200a12e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
    font-size: 4rem;
    margin-right: 20%;
    margin-left: 0; 
    font-style: italic;
    font-weight: 300;
    quotes: none;
    width: 30vw;
}

.quote_and_tom p{
    color: white;
    font-size: 0.6rem;
    line-height: 1.6;
}

.quote_and_tom p span::before{
        content: ' ';
        display: block;
        margin-top: 5px;
}

a{
    color:rgb(202, 37, 125);
    height: 5vh;
    display: block;
}

a i{
    margin-left: 5px;
    position: relative;
    top: 2px;
    left: 0;
    transition: left 0.3s ease-in-out;
}

a:hover i {
    left: 15px;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Quote dont give up ----------------------------------
------------------------------------------------------------------------------------------*/

.quote_dont_give_up {
    display: none;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Major tom picture ----------------------------------
------------------------------------------------------------------------------------------*/

.major_tom_img {
    display: none;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Read more about major tom ------------------------
------------------------------------------------------------------------------------------*/

.quote_and_tom a{
    font-size: 0.6rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Cookies --------------------------------------
------------------------------------------------------------------------------------------*/

.cookies{
    height: 60px;
    background-color: rgb(12, 18, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookies p{
    margin-left: 30px;
    color: #D200A2;
    text-shadow:0 0 3px #D200A2;
    font-size: 0.7rem;
}

.cookies button{
    margin-right: 30px;
    background-color:rgb(25, 25, 147); 
    border: none;
    color: white;
    padding: 7.5px 16px;
    padding-top: 10px;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}
