//Screens bigger then 1100 px

/*----------------------------------------------------------------------------------------
--------------------------------------- Main----------------------------------------------
------------------------------------------------------------------------------------------*/

main div{
    gap: 15vw;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Space ventures text-------------------------------
------------------------------------------------------------------------------------------*/

.space_ventures{
    height: 25vh;
    margin-bottom: 80px;
}

.space_ventures h1{
    top: 10vh;
}

.space_ventures h1 span:nth-of-type(1){
    font-size: 5rem;
}

.space_ventures h1 span:nth-of-type(2){
    left: 10px;
    top: -45px;
    font-size: 6rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Ground control to major tom ----------------------
------------------------------------------------------------------------------------------*/

.major_tom h2{
    font-size: 1.9rem;
}

.major_tom p{
    font-size: 0.9rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Blockquote ---------------------------------------
------------------------------------------------------------------------------------------*/

blockquote{
    margin-top: 30px;
    font-size: 1.48rem;
    margin-left: 30px;
}

blockquote::after{
    top: 50px;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Quote and tom-------------------------------------
------------------------------------------------------------------------------------------*/

.quote_and_tom q{
    margin-top: 100px;
    font-size: 2.4rem;
}

.quote_and_tom p{
    font-size: 0.9rem;
}

.quote_and_tom a{
    font-size: 1.1rem;
}

/*----------------------------------------------------------------------------------------
--------------------------------------- Cookies ------------------------------------------
------------------------------------------------------------------------------------------*/

.cookies p{
    font-size: 1.1rem;
}

.cookies button{
    padding: 8px 15px;
    font-size: 1.1rem;
}